#topbar {
	width: 1000px;
	height: 40px;

	/* This will give us a centered div tag that will be fixed (hence the auto). */
	/* So it will stay centerd if you resize the page and stuff */
	margin: 0 auto;
}

#logo {
	margin: 5px;
	width: 100px;
	float: left;
	margin-right: 8px;
}

#signin-logo {
	width: 25px;
	margin: 10px 15px;
	float: left;
}

#signin-text {
	font-weight: bold;
	font-size: 90%;
	/* Tried using margin here but it didn't like it with a span tag */
	position: relative;
	top: 14px;
	padding-right: 50px;
}

#more-text {
	font-weight: bold;
	font-size: 90%;
	/* Tried using margin here but it didn't like it with a span tag */
	position: relative;
	top: 14px;
	padding: 0 10px 0 30px;
}

#more-arrow {
	width: 16px;
	margin-left: 20px;
}

#search-box {
	background-color: #E4E4E4;
	border: none;
	/* Will effect the font given as value, placeholder, etc. */
	font-weight: bold;
	font-size: 14px;
	width: 140px;
	padding: 5px;
	margin: 5px 0 5px 5px;
	float: left;
}

#magnifying-glass {
	height: 26px;
	margin-top: 5px;
}

.topbar-section {
	float: left;
	border-left: 1px #CCCCCC solid;
	/* So this completly fills top bar */
	height: 100%;
}

.topbar-menu {
	font-weight: bold;
	font-size: 90%;
	padding: 13px 15px 0 15px;
	/* We need to add on the padding here, so we take the 40px - 13 and get 27 */
	height: 27px;
}

body {
	/* This will get rid of the white spaces on the top of the bar */
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
}