#menu-bar-2-container {
	background-color: #BB1919;
	width: 100%;
	height: 35px;
}

#menu-bar-2 {
	width: 1000px;
	height: 30px;
	margin: 0 auto;
}

#menu-bar-2 a {
	color: white;
	text-decoration: none;
	padding: 0 10px;
	border-right: 1px solid #BB4545;
	font-size: 11px;
	position: relative;
	top: 10px;
}

#menu-bar-2 a:hover {
	text-decoration: underline;
}

#down-arrow {
	height: 10px;
	position: relative;
	top: 10px;
}